<section>
  <div class="container">
    <div class="footer-box" [class.mat-elevation-z4]="true">
      <h4>About Us</h4>
      <div class="line"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem, aut aliquam neque nam?
        dolor
        sit amet, consectetur adipisicing elit consectetur adipisicing elit. Officiis perferendis rem, aut aliquam.</p>
      <button mat-raised-button color="accent">Contact Us</button>
    </div>

    <div class="footer-box" [class.mat-elevation-z4]="true">
      <h4>Contact</h4>
      <div class="line"></div>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon color="accent">email</mat-icon>
          <h5 mat-line>Email</h5>
          <p mat-line>email@abc.com</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon color="accent">location_on</mat-icon>
          <h5 mat-line>Address</h5>
          <p mat-line>Topoban, Akhalia</p>
          <p mat-line>Sylhet 3114, BD</p>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="footer-box" [class.mat-elevation-z4]="true">
      <h4>Disclaimer</h4>
      <div class="line"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem, aut aliquam neque nam?</p>
      <div>
        <ul>
          <li>
            <a href="#"><img src="../../assets/images/linkedIn.png" alt="linkedIn"></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/twitter.png" alt="twitter"></a>
          </li>
          <li>
            <a href="#"><img src="../../assets/images/facebook.png" alt="facebbok"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>