section {
    background-color: #212121;
    color: #fff;
}

.container {
    padding: 0 15px;
}

.footer-box {
    padding: 30px;
}

h4 {
    margin: 0;
    padding-bottom: 8px;
    font-size: 20px;
}

.line {
    height: 2px;
    width: 64px;
    background: #ffc107;
}

p {
    font-size: 14px;
    line-height: 21px;
}

mat-list-item {
    h5.mat-line {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
    }

    p {
        color: #fff;
    }
}

ul{
    padding: 0;
    padding-top: 16px;
    li {
        margin: 8px;
        display: inline;
        a {
            width: 24px;
            height: 24px;
        }
    }
}