section {
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgba(0,0,0,.024);
}

.container {
    padding: 0 15px;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.contact-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 16px;
}

.input-field {
    width: 100%;
}