<section>
  <div class="container">
    <h2>Send Us An Email</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, error.</p>
  
    <form class="contact-form">
      <mat-form-field class="input-field">
        <input matInput placeholder="Your Name">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Your Email">
      </mat-form-field>
      <mat-form-field class="input-field">
        <input matInput placeholder="Subject">
      </mat-form-field>
      <mat-form-field class="input-field">
        <textarea matInput placeholder="Message"></textarea>
      </mat-form-field>
    </form>
  
    <button mat-fab>
      <mat-icon aria-label="Icon-button send">send</mat-icon>
    </button>
  </div>
</section>