section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    padding: 0 15px;
}

.section-header {
    margin-bottom: 48px;
    
    h2 {
        margin: 0;
        margin-bottom: 16px;
        font-size: 32px;
        font-weight: 700;
    }
    
    mat-slide-toggle {
        font-size: 14px;
    }
}

mat-card {
    padding: 0;
    padding-bottom: 24px;
    margin-bottom: 12px;
    text-align: center;
    mat-card-header {
        padding: 16px;
        background: rgba(0, 0, 0, 0.024);
        display: block;
        mat-card-title {
            margin: 0;
            margin-bottom: 4px;
        }
        mat-card-subtitle {
            margin: 0;
        }
    }
    mat-card-content {
        margin: 0;
        h1 {
            padding-top: 16px;
            padding-bottom: 10px;
            margin: 0;
            font-size: 32px;
        }

        p {
            margin: 0;
            padding-bottom: 20px;
            font-size: 14px;
        }
    }
}