<section>
  <div class="container">

    <div class="section-header">
      <h2>Choose a Plan</h2>
      <mat-slide-toggle color="primary" checked="true">
        Get upto 10% discount annually
      </mat-slide-toggle>
    </div>

    <mat-card *ngFor="let plan of plans" (mouseover)="plan.hover=true"
    (mouseout)="plan.hover=false" [class.mat-elevation-z2]="!plan.hover"
    [class.mat-elevation-z10]="plan.hover">
      <mat-card-header>
        <mat-card-title>
          <div>{{plan.title}}</div>
        </mat-card-title>
        <mat-card-subtitle>
          <div>{{plan.subtitle}}</div>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content>
        <h1>{{plan.price}}</h1>
        <mat-list>
            <p *ngFor="let feature of plan.features">
              {{feature}}
            </p>
        </mat-list>
      </mat-card-content>
      <button mat-raised-button color="accent">Choose</button>
    </mat-card>

  </div>
</section>