<section class="portfolio">
  <div class="container">
    <h2>Our Works</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi
      placeat at.</p>

    <div class="cards">

      <mat-card class="card-portfolio" *ngFor="let project of projects" (mouseover)="project.hover=true"
        (mouseout)="project.hover=false" [class.mat-elevation-z2]="!project.hover"
        [class.mat-elevation-z10]="project.hover">
        <img mat-card-image src="{{project.image}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div>
            <h5>
              <a href="#">{{project.title}}</a>
            </h5>
            <p>
              {{project.description}}
            </p>
            <mat-divider></mat-divider>
          </div>
          <mat-card-actions>
            <button mat-icon-button>
              <mat-icon>link</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>share</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="load-button">
      <button mat-raised-button color="accent">LOAD MORE</button>
    </div>
  </div>
</section>