section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    padding: 0 15px;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.card-portfolio {
    display: block;
    margin-bottom: 30px;

    mat-card-actions {
        padding: 0;
    }

    mat-divider {
        position: relative;
    }

    mat-card-content {
        padding: 4px 10px 0 10px; 
    }

    h5 {
        font-size: 16px;
        margin: 0 0 8px 0;
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    p {
        margin: 0 0 16px 0;
        font-size: 14px;
        line-height: 21px;
    }

    mat-card-actions {
        margin-top: 14px;
        margin-bottom: 6px;
        padding-left: 4px;
        color: gray;
    }
}

.load-button {
    text-align:center;
    margin: 40px auto 0 auto;

    button {
        padding: 0 35px 0 35px;
        border-radius: 2px;
        line-height: 55px;
        font-size: 18px;
        font-weight: 400;
    }
}
