<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Landing Page</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Demos</a>
      <a mat-list-item href="#">Works</a>
      <a mat-list-item href="#">Services</a>
      <a mat-list-item href="#">Testimonials</a>
      <a mat-list-item href="#">Pricing</a>
      <a mat-list-item href="#">Contact</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">
        <mat-icon mat-list-icon>person</mat-icon>
        <p mat-line>My Account</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" [class.mat-elevation-z8]="true">
      <button class="menu-button" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Landing Page</span>
      <a href="#">Demos</a>
      <a href="#">Works</a>
      <a href="#">Services</a>
      <a href="#">Testimonials</a>
      <a href="#">Pricing</a>
      <a href="#">Contact</a>
      <span class="spacer"></span>
      <a href="#">
          <mat-icon>person</mat-icon>
          My Account
      </a>
    </mat-toolbar>

    <app-home></app-home>
    <app-portfolio></app-portfolio>
    <app-services></app-services>
    <app-testimonials></app-testimonials>
    <app-cta></app-cta>
    <app-pricing></app-pricing>
    <app-contact></app-contact>
    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>