.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content a {
  display: none;
}

@media only screen and (min-width: 990px) {
  .menu-button {
    display: none;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-sidenav-content a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
}
