section {
    padding-top: 80px;
    padding-bottom: 50px;
    background: rgba(0,0,0,.024);
}

.container {
    padding: 0 15px;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

mat-card {
    margin-bottom: 30px;
    padding-bottom: 24px;
    border-top: 2px solid #212121;

    div {
        text-align: center;
        mat-icon {
            font-size: 64px;
            height: 64px;
            width: 64px;
        }
    }

    h3 {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 24px;
        font-weight: 300;
    }

    p {
        margin: 0;
        margin-bottom: 40px;
        font-size: 15px;
        color: #616161;
        line-height: 22.5px;
    }

    button {
        color: rgba(0,0,0,.54);
        font-size: 14px;
        font-weight: 700;
    }
}

mat-card:hover {
    border-top: 2px solid #3f51b5;

    mat-icon {
        color: #3f51b5;
    }
}