<section class="services">
  <div class="container">
    <h2>Our Services</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi
      placeat at.</p>

    <div class="cards">

      <mat-card *ngFor="let service of services" (mouseover)="service.hover=true"
        (mouseout)="service.hover=false" [class.mat-elevation-z2]="!service.hover"
        [class.mat-elevation-z8]="service.hover">
        <div>
          <mat-icon>{{service.icon}}</mat-icon>
        </div>
        <h3>{{service.title}}</h3>
        <p>{{service.description}}</p>
        <button mat-button>READ MORE</button>
      </mat-card>
      
    </div>
  </div>
</section>