section {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(http://angular-landing.angulardashboard.com/home-bg.1e271979b7c657dee1b0.jpg) center center/cover no-repeat;
}

.container {
    padding: 0 15px;
    color: #ffffff;
}

h2 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.1;
}

p {
    font-size: .875rem;
    line-height: 1.5;
}

.buy-button {
    text-align:center;
    margin: 40px auto 0 auto;

    button {
        padding: 0 30px 0 30px;
        border-radius: 2px;
        line-height: 55px;
        font-size: 18px;
        font-weight: 400;
    }
}