<section>
  <div class="container">
    <h2>Egret Is A Complete UI Framework For Angular</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nam, illum et quis officiis beatae.</p>
    <div class="buy-button">
      <button mat-raised-button color="accent">BUY EGRET NOW</button>
    </div>
  </div>
</section>
