<section>
  <div class="container">
    <h2>What our customers says</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi
      placeat at.</p>
    <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
      <div *nguCarouselDef="let item;" class="item">

        <mat-card class="testimonial-card" (mouseover)="item.hover=true" (mouseout)="item.hover=false"
          [class.mat-elevation-z2]="!item.hover" [class.mat-elevation-z8]="item.hover">
          <mat-card-content>
            <img src="{{item.logo}}" alt="logo" class="company-logo">
            <p>{{item.description}}</p>
          </mat-card-content>
          <mat-card-header>
            <div mat-card-avatar [style.background-image]="'url(' + item.image + ')'" class="header-image">
            </div>
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.role}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

      </div>
      <button NguCarouselNext class="rightRs" mat-icon-button [class.mat-elevation-z12]>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button NguCarouselPrev class="leftRs" mat-icon-button [class.mat-elevation-z12]>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <ul class="myPoint" NguCarouselPoint>
        <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint"
          (click)="myCarousel.moveTo(j)"></li>
      </ul>
    </ngu-carousel>
  </div>
</section>