section {
  padding-top: 80px;
  padding-bottom: 68px;
}

.container {
  padding: 0 15px;
}

h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.item {
  padding: 20px;
  box-sizing: border-box;
}

.tile {
  min-height: 200px;
  background-color: #ccc;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.leftRs {
  position: absolute;
  margin: auto -12px;
  top: 0;
  bottom: 0;
  width: 56px;
  height: 56px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  left: 0;
  background-color: #fafafa;
}
 
.rightRs {
  position: absolute;
  margin: auto -12px;
  top: 0;
  bottom: 0;
  width: 56px;
  height: 56px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  right: 0;
  background-color: #fafafa;
}

.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}

.myPoint  li {
  display: inline-block;
  border-radius: 50%;
  padding: 4px;
  margin: 0 4px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
  background: #6b6b6b;
}

.myPoint  li.active {
  transform: scale(1.8);
}

.testimonial-card {
  padding: 32px 32px;
  .company-logo {
    width: 10%;
    padding-bottom: 24px;
  }

  p {
    color: rgba(0, 0, 0, 0.64);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    min-height: 180px;
  }
  mat-card-title {
    font-size: 16px;
  }
}

.header-image {
  width: 48px;
  height: 48px;
  background-size: cover;
}
