<div class="container">
  <h1 class="home-title">
    Your complete Angular App Development kit
  </h1>
  <p>Egret implements the official Angular Material Design components and built with Angular CLI. <br> No Bootstrap!, No
    jQuery! and Only TypeScript!</p>

  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon color="accent">check</mat-icon>
      <p mat-line>100+ Custom Pipes, Directives And Components</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon color="accent">check</mat-icon>
      <p mat-line>4 color Themes and multi language support</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon color="accent">check</mat-icon>
      <p mat-line>Super Flexible And Customizable</p>
    </mat-list-item>
  </mat-list>

  <div class="buttons">
    <button mat-raised-button color="primary">
      <mat-icon>add_shopping_cart</mat-icon>
      BUY EGRET
    </button>
    <span></span>
    <button mat-raised-button>
      <mat-icon>get_app</mat-icon>
      ANGULAR LANDING
    </button>
  </div>
  <img class="monitor" src="../assets/images/monitor.svg" alt="monitor image">
</div>