.container {
    padding: 0 15px;
    color: #ffffff;
    background: url(http://angular-landing.angulardashboard.com/home-bg.1e271979b7c657dee1b0.jpg) center center/cover no-repeat;
}
h1 {
    margin: 0;
    padding: 30px 0 30px 0;
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
    text-shadow: 0 4px 4px rgba(0,0,0,.22);
}

p {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding-bottom: 20px;
}

mat-list {
    padding-bottom: 20px;
}

mat-list-item {

    p.mat-line {
        color: #ffffff;
        font-size: 15px;
    }
}

.buttons {
    flex-direction: column;
    display: flex;

    button {
        border-radius: 2px;
        line-height: 52px;
        font-size: 18px;
        font-weight: 400;
    }

    span {
        height: 18px;
    }
}

.monitor {
    display: block;
    width: 70%;
    margin: 50px auto 0 auto;
    padding-bottom: 70px;
}